html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: #121212;
  color: white;
}


.theme-toggle {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px; 
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.theme-toggle:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.theme-toggle:active {
  transform: translateY(0); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}


button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #218838;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.game-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  text-align: center;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-card-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.game-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
}
